<% content_for :title, "A simple setlist management tool for DJs" %>
<div class="row">
	<div class="col-md-12">
	<% if notice %>
		<div class="alert alert-danger" role="alert">
			<p class="lead"><%= notice %></p>
			<p>Please check your details and try again</p>
		</div>
	<% end %>
		<h2>A simple setlist management tool for DJs</h2>
		<p>Welcome to Crater. With this project my aim is to get to grips with MVC frameworks (namely Rails), front-end frameworks (Bootstrap), TDD and best design practices. While making a semi-useful application!</p>
		<p>The first public alpha of Crater lets users:</p>
		<ul>
			<li>input track information into a setlist</li>
			<li>rearrange tracks within the setlist</li>
			<li>add and remove tracks from an existing setlist</li>
			<li>add a master BPM to the setlist and have Crater automatically calculate individual track's new keys for harmonic mixing</li>
		</ul>
		<p>Features I'd like to add in the future:</p>
		<ul>
			<li>hook up to the Beatport API to automatically fetch key and BPM data</li>
			<li>suggest an optimal track order for harmonic mixing</li>
			<li>let users register and keep all their setlists in one place</li>
		</ul>
		<div class="alert alert-warning">
			<p class="lead">Warning</p>
			<p>This project is still in the early phases of development. The database schema might change, requiring data loss or security breaches may be found. Please don't input any information you want kept private during this alpha stage. Crater currently has no user registration and no personal data is stored. <strong>By using Crater alpha you understand that there is no guarantee any data you submit will be kept private and that data loss may occur without warning</strong>.</p>
		</div>
		<p><%= link_to 'Get started!', '#', class: 'btn btn-success' %> <%= link_to 'View project on GitHub', 'http://github.com/PkerUNO/Crater', class: 'btn btn-primary' %></p>
	</div>
</div>
